                    <div class="x_content">
                        <h2 class="text-muted font-13 m-b-30">
                            Listado de Profesores registrados por el usuario Jorge Iñiguez.
                        </h2>
                        <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                            <th>Nombre</th>
                            <th>apellido</th>
                            <th>matricula</th>
                            <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>Juan</td>
                            <td>Ortiz</td>
                            <td>111111111</td>
                            <td class="text-center">
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-search">
                                    </span>
                                </a>
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-trash">
                                    </span>
                                </a>
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-pencil">
                                    </span>
                                </a>
                            </td>
                        
                            </tr>
                            <tr>
                            <td>Pedro</td>
                            <td>Ortiz</td>
                            <td>1111111111</td>
                            <td class="text-center">
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-search">
                                    </span>
                                </a>
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-trash">
                                    </span>
                                </a>
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-pencil">
                                    </span>
                                </a>
                            </td>
                            </tr>
                            <tr>
                            <td>jorge</td>
                            <td>rodriguez</td>
                            <td>111222222</td>
                            <td class="text-center">
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-search">
                                    </span>
                                </a>
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-trash">
                                    </span>
                                </a>
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-pencil">
                                    </span>
                                </a>
                            </td>
                            </tr>
                            <tr>
                            <td>Luis</td>
                            <td>ortiz</td>
                            <td>1112222333</td>
                            <td class="text-center">
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-search">
                                    </span>
                                </a>
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-trash">
                                    </span>
                                </a>
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-pencil">
                                    </span>
                                </a>
                            </td>
                            </tr>
                            <tr>
                            <td>Pedro</td>
                            <td>Ortiz</td>
                            <td>1112333333</td>
                            <td class="text-center">
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-search">
                                    </span>
                                </a>
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-trash">
                                    </span>
                                </a>
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-pencil">
                                    </span>
                                </a>
                            </td>
                            </tr>
                            <tr>
                            <td>Tomas</td>
                            <td>Ortiz</td>
                            <td>222333444</td>
                            <td class="text-center">
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-search">
                                    </span>
                                </a>
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-trash">
                                    </span>
                                </a>
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-pencil">
                                    </span>
                                </a>
                            </td>
                            </tr>
                            <tr>
                            <td>Juan</td>
                            <td>Ortiz</td>
                            <td>4444445555</td>
                            <td class="text-center">
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-search">
                                    </span>
                                </a>
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-trash">
                                    </span>
                                </a>
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-pencil">
                                    </span>
                                </a>
                            </td>
                            </tr>
                            <tr>
                            <td>Pedro</td>
                            <td>Rodriguez</td>
                            <td>1112222222</td>
                            <td class="text-center">
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-search">
                                    </span>
                                </a>
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-trash">
                                    </span>
                                </a>
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-pencil">
                                    </span>
                                </a>
                            </td>
                            </tr>
                            <tr>
                            <td>Tomas</td>
                            <td>ortiz</td>
                            <td>1112222222</td>
                            <td class="text-center">
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-search">
                                    </span>
                                </a>
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-trash">
                                    </span>
                                </a>
                                <a href="" class="nounderline" style="text-decoration:none" alt="editar">
                                    <span class="glyphicon glyphicon-pencil">
                                    </span>
                                </a>
                            </td>
                            </tr>
                            
                        </tbody>
                        </table>
                    </div>
